<h1>Welcome</h1>

<%if !logged_in?%>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Register", '/users/new', method: :get%>
<%end%>

<%if logged_in?%>
    <h1>You are Logged In, <%= current_user.username %></h1>

    <%= button_to "Logout", '/logout', method: :get%>
<%end%>
